.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
  .h1 {
    color: white;
  }
  .MuiButton-root {
    border-radius: 15px !important;
  }
}

body {
  background-color: #b2beb5;
}
